.filter-card {
    background: #fff;
    padding: 5px;
    .filter-year-chip-wrapper {
        .filter-year-chip {
            background: #75ec75;
            padding: 10px;
            border-radius: 5px;
            width: 41%;
            display: inline-block;
            margin-right: 9px;
            margin-bottom: 10px;
            text-align: center;
            cursor: pointer;
            transition: all ease 0.2s;
            &:hover {
                background: green;
            }
            &.active {
                background: green;
            }
        }
    }
}