.filter-card {
    background: #fff;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    .filter-item-wrapper {
        margin-bottom: 30px;
        h3 {
            letter-spacing: 1px;
        }
        h4 {
            margin-bottom: 0;
            letter-spacing: 1px;
            text-align: center;
        }
        hr {
            width: 200px;
        }
        .filter-year-chip-wrapper {
            .filter-year-chip {
                background: #75ec75;
                padding: 10px;
                border-radius: 5px;
                width: 36%;
                display: inline-block;
                margin-right: 8px;
                margin-left: 8px;
                margin-bottom: 10px;
                text-align: center;
                cursor: pointer;
                transition: all ease 0.2s;
                font-weight: 500;
                letter-spacing: 0;
                &:hover {
                    background: green;
                }
                &.active {
                    background: green;
                }
            }
        }
    }
}