.filter-card {
    background: #fff;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    .filter-item-wrapper {
        margin-bottom: 30px;
        h3 {
            letter-spacing: 1px;
        }
        h4 {
            margin-bottom: 0;
            letter-spacing: 1px;
            text-align: center;
            position: relative;
            font-weight: 500;
            &:after {
                position: absolute;
                content: "";
                height: 2px;
                bottom: -7px;
                margin: 0 auto;
                left: 0;
                right: 0;
                width: 72%;
                background: rgb(189, 183, 185);
            }
        }
        hr {
            width: 200px;
        }
        .filter-year-chip-wrapper {
            margin-top: 25px;
            ul {
                list-style: none outside;
                margin: 0;
                padding: 0 15px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li {
                    flex-basis: 35%;
                    background: rgb(197, 224, 155);
                    padding: 10px;
                    border-radius: 5px;
                    width: 36%;
                    display: inline-block;
                    margin-bottom: 10px;
                    text-align: center;
                    cursor: pointer;
                    transition: all ease 0.2s;
                    font-weight: 500;
                    letter-spacing: 0;
                    &:hover {
                        background: rgb(197, 224, 155);
                    }
                    &.active {
                        background: rgb(124, 186, 1);
                    }
                }
            }
        }
    }
}