<div class="filter-card">
    <div class="filter-item-wrapper">
        <div class="clear-filter">
            <h3>Filters</h3>
            <a *ngIf="launchSuccessSelected || launchYearSelected || landingSuccessSelected" (click)="clearFilter()">Clear filter</a>
        </div>

        <h4>Launch Year</h4>
        <div class="filter-year-chip-wrapper">
            <ul>
                <li [ngClass]="launchYearSelectedIndex === i ? 'active' : ''" (click)="filterLaunchYear(i, year)" *ngFor="let year of launchYears; let i = index">{{year}}</li>
            </ul>
        </div>
    </div>
    <div class="filter-item-wrapper">
        <h4>Successful Launch</h4>
        <div class="filter-year-chip-wrapper">
            <ul>
                <li (click)="filterSuccessfulLaunch(i, launch)" [ngClass]="launchSelectedIndex === i ? 'active' : ''" *ngFor="let launch of successfulLaunch; let i = index">{{launch}}</li>
            </ul>
        </div>
    </div>
    <div class="filter-item-wrapper">
        <h4>Successful Landing</h4>
        <div class="filter-year-chip-wrapper">
            <ul>
                <li (click)="filterSuccessfulLanding(i, landing)" [ngClass]="landingSelectedIndex === i ? 'active' : ''" *ngFor="let landing of successfulLanding; let i = index">{{landing}}</li>
            </ul>
        </div>
    </div>
</div>