.launch-card {
    padding: 10px;
    border-radius: 5px;
    .launch-card-img-wrapper {
        @media only screen and (min-width: 1025px) { 
            height: 148px;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
    h5 {
        color: rgb(69, 75, 154);
        font-size: 20px;
        padding-left: 2px;
    }
    ul {
        list-style: none outside;
        margin: 0;
        padding-left: 2px;
        li {
            h6 {
                font-size: 20px;
                color: #454b9a;
                font-weight: 400;
                margin: 13px 0;
                strong {
                    color: #000;
                    font-size: 18px;
                }
            }
            ul {
                padding-left: 15px;
                list-style: disc;
                color: #454b9a;
            }
        }
    }
}