<main class="main">
    <div class="container">
        <h1>{{siteTitle}}</h1>
        <div class="main-content">
            <aside class="main-content-left">
                <app-filters (spacexFilter)="filterDataEmitted($event)"></app-filters>
            </aside>
            <section class="main-content-right">
                <p *ngIf="isLoading">Loading....</p>
                <p *ngIf="!isLoading && launchesArray && !launchesArray.length ">No data available</p>
                <ul *ngIf="!isLoading" class="program-card-list">
                    <li *ngFor="let launch of launchesArray; let i = index">
                        <app-launch-card [launchData]="launch"></app-launch-card>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</main>