body {
    background: gray;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home-page-wrapper {
    .spacex-lauch-details-wrapper {
        display: flex;
        justify-content: flex-start;
    }
}