body {
    background: rgb(242, 242, 242);
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
}

.main-content{
    @media(min-width: 700px){
        display: flex;
        justify-content: space-between;
    }
}
.main-content-left{
    @media(min-width: 700px){
        flex-basis: 35%;
    }
    @media(min-width: 1025px){
        flex-basis: 25%;
    }
}
.main-content-right{
    margin-top: 25px;
    @media(min-width: 700px){
        margin-top: 0;
        flex-basis: 61%;
    }
    @media(min-width: 1025px){
        flex-basis: 73%;
    }
}

.program-card-list{
    list-style: none outside;
    margin: 0;
    padding: 0;
    @media(min-width: 700px){
        display: flex;
        justify-content: space-between;   
        flex-wrap: wrap;
    }
    > li{
        background: #fff;
        border-radius: 5px;
        margin-bottom: 20px;
        @media(min-width: 700px){
            margin-bottom: 30PX;
            flex-basis: 47%;
        }
        @media(min-width: 1025px){
            flex-basis: 23%;
        }
    }
}